body{
    background-color:rgb(224, 4, 4) ;
    }
    
  
     h1{
    color:blue ;
    font-family: ;
    background: ;
    }
    
  
    p{
    color:blue ;
    font-family: ;
    font-size: ;
    background: ;
    }
